body {
    max-width: 100%;
    height: 100%;
    background-color: #3f3f3f;
    position: relative;
   
}

html {
    scroll-behavior: smooth;
  }
  
/* header */

.nav-wrapper {
    background-color: transparent;
    max-width: 100%;
    width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;

}

.header-right {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-top: 40px;
    font-size: 20px;
}

.headList {
    color: aliceblue;
    font-family: "Sofia", sans-serif;
    text-shadow: 3px 3px 3px #ababab;

        --s: 0.1em;   /* the thickness of the line */
        --c: #aa0000; /* the color */
        
        color: #0000;
        padding-bottom: var(--s);
        background: 
          linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
          linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
        -webkit-background-clip: text,padding-box;
                background-clip: text,padding-box;
        transition: 0.5s;
      }

.headList:hover {
        --_p: 100% }
      

.logo {
    font-family: "Sofia", sans-serif;
    color: azure;
    font-size: 40px;
    padding: 10px;
    margin-top: 20px;
}
.logo:hover {
    opacity: 1; 
    -moz-transition: all 0.6s ease-out;  /* FF4+ */
    -o-transition: all 0.6s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.6s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.6s ease-out;  /* IE10? */
    transition: all 0.6s ease-out; 
    text-shadow: 0 0 3px #FF0000;
    color: #aa0000;
}
a {
    color: #ffffff;
}

/* BurgerIcon */
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color:rgb(255, 255, 255);
    margin: 6px auto;
    transition: 0.4s;
  }
  
  
  .toggle-button {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
    display: none;
  }

  .img1 {
    margin-top: 100px;
    margin-left: 60px;
    box-shadow: 10px 10px 5px rgb(185, 0, 0);
  }
  
  .main-menu {
    width: 100%;
    height: 500px;
    margin-top: 70px;
    margin-left: 80px;

  }

  .menu-section {
    display: flex;
  }

  .mainDish {
    text-align: center;
    font-size: 45px;
    font-family: "Trirong", serif;
    color: #ffffff;
    text-shadow: 3px 3px 3px #ababab;
    margin-bottom: 30px;
  }

  .twocolumn {
    display: flex;
  }

  .mainDishColumn1 {
    width: 400px;
    height: auto;  
 }

 .mainDishColumn2 {
    width: auto;
    height: auto;
    margin-left: 20px;
 }
 
  .mainDishesDiv {
    width: 400px;
    height: 100px;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: space-between;
  }


  .dishesImg {
    
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  .paragrs  {
    margin: auto;
    margin-left: 20px;
  }

  .text1 {
    margin-bottom: 15px;
    color:antiquewhite;
    font-family: "Trirong", serif;
    font-weight: bold;
  }

  .text2 {
    font-size: 13px;
    color:antiquewhite;
    font-family: "Trirong", serif;
  }

  .text3 {
    margin: auto;
    margin-left: 25px;
    font-size: 25px;
    color:rgb(255, 0, 0);
    font-family: "Trirong", serif;
  }

  .text33 {
    margin: auto;
    margin-left: 80px;
    font-size: 25px;
    color:rgb(255, 0, 0);
    font-family: "Trirong", serif;
  }

  .horizontal {
    display: flex;
  }